services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: baqdauletd
      POSTGRES_PASSWORD: fathyu2027
      POSTGRES_DB: housing

    volumes:
    - ./infrastructure/db/schema.sql:/docker-entrypoint-initdb.d/schema.sql

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U baqdauletd -d housing"]
      interval: 5s
      timeout: 5s
      retries: 5
    # ports:
    #   - "5450:5432"

  # redis:
  #   image: redis:alpine
  #   ports:
  #     - "6379:6379"

  minio:
    image: minio/minio
    container_name: minio_nu_housing
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      GIN_MODE: release
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_started
      # - redis

volumes:
  minio_data:
